{% extends 'cms/main.html' %}
{% load static %}
{%  block content %}
<div class="container form-with">
    <h1>Add a customer</h1>
    <form action="" method="POST">
        {% csrf_token %}
    <div class="form-group col">
        {{ form.id }}
    </div>
    <div class="form-group col">
        {{ form.name }}
    </div>
    <div class="form-group col">
        {{ form.surname }}
    </div>
    <div class="form-group col">
        {{ form.phone_number }}
    </div>
    <div class="form-group col">
        {{ form.email }}
    </div>
    <div class="form-group col">
        {{ form.address }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    </form>
</div>

{%  endblock %}


